<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dsp_atividade1</property>
        <property name="hibernate.connection.username">flycher</property>
        <property name="hibernate.connection.password">winston1984</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- CRUD -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show SQL formatted in console -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Annotated entity classes -->
        <mapping class="br.ufc.qxd.dsp.atividade1.entity.Cliente"/>
        <mapping class="br.ufc.qxd.dsp.atividade1.entity.Endereco"/>
        <mapping class="br.ufc.qxd.dsp.atividade1.entity.Telefone"/>

    </session-factory>
</hibernate-configuration>